/* Write your global styles here, in PostCSS syntax */

body {
  @apply font-mono;
  @apply bg-[#1a1a1a];
  @apply text-[#E5E3E0];
  transition: color 0.5s ease;
}

* {
  cursor: url("/cursor.svg") 0 0, auto;
}

body.moon {
  @apply text-[#E5E3E0];
}

body.sun {
  @apply text-white;
}

.cutout-title {
  position: relative;
  padding-top: 2rem;
}

.cutout-title::before {
  content: attr(data-title);
  position: absolute;
  top: -0.9rem;
  left: 1rem;
  background: #1a1a1a;
  padding: 0 0.5rem;
  z-index: 10;
}

.cutout-title::after {
  content: attr(data-right-title);
  position: absolute;
  top: -0.9rem;
  right: 1rem;
  background: #1a1a1a;
  padding: 0 0.5rem;
  z-index: 10;
}

.border-box {
  border: 2px solid #414649;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem;
  position: relative;
  transition: border-color 0.5s ease;
}

body.moon .border-box {
  border-color: #414649;
}

body.sun .border-box {
  border-color: gray;
}

@keyframes sparkle {
  0% {
    border-color: theme("colors.pink");
  }
  50% {
    border-color: lightgray;
  }
  100% {
    border-color: theme("colors.pink");
  }
}

.border-box-glow {
  border: 2px solid lightgray;
  padding: 1rem;
  margin: 1rem;
  position: relative;
  animation: sparkle 3s linear infinite;
}

::selection {
  background: #a17296;
}

:root {
  --gray-00: hsl(0 0% 4%);
  --gray-01: hsl(0 0% 8.5%);
  --gray-02: hsl(0 0% 11%);
  --gray-03: hsl(0 0% 13.6%);
  --gray-04: hsl(0 0% 15.8%);
  --gray-05: hsl(0 0% 17.9%);
  --gray-06: hsl(0 0% 20.5%);
  --gray-07: hsl(0 0% 24.3%);
  --gray-08: hsl(0 0% 31.2%);
  --gray-09: hsl(0 0% 43.9%);
  --gray-10: hsl(0 0% 49.4%);
  --gray-11: hsl(0 0% 62.8%);
  --gray-12: hsl(0 0% 93%);
  --gray-A01: hsl(0 0% 100% / 0);
  --gray-A02: hsl(0 0% 100% / 0.026);
  --gray-A03: hsl(0 0% 100% / 0.056);
  --gray-A04: hsl(0 0% 100% / 0.077);
  --gray-A05: hsl(0 0% 100% / 0.103);
  --gray-A06: hsl(0 0% 100% / 0.129);
  --gray-A07: hsl(0 0% 100% / 0.172);
  --gray-A08: hsl(0 0% 100% / 0.249);
  --gray-A09: hsl(0 0% 100% / 0.386);
  --gray-A10: hsl(0 0% 100% / 0.446);
  --gray-A11: hsl(0 0% 100% / 0.592);
  --gray-A12: hsl(0 0% 100% / 0.923);

  --sh-class: var(--gray-12);
  --sh-identifier: var(--gray-12);
  --sh-sign: var(--gray-11);
  --sh-property: var(--gray-12);
  --sh-entity: var(--gray-11);
  --sh-jsxliterals: var(--gray-11);
  --sh-string: var(--gray-12);
  --sh-keyword: var(--gray-11);
  --sh-comment: var(--gray-09);
}

.pixelated {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -webkit-optimize-contrast; /* Safari */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: pixelated; /* Chrome and Edge */
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

.highlighted {
  background-color: rgba(200, 200, 255, 0.1);
  border-left-color: #60a5fa;
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers][data-line-numbers-max-digits="2"]
  > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers][data-line-numbers-max-digits="3"]
  > [data-line]::before {
  width: 3rem;
}

img[name="imageNeko0"] {
  @apply pixelated;
}
