/* Write your global styles here, in PostCSS syntax */

body {
  @apply font-mono;
  @apply bg-[#1a1a1a];
  @apply text-[#E5E3E0];
  transition: color 0.5s ease;
}

* {
  cursor: url("/cursor.svg") 0 0, auto;
}

body.moon {
  @apply text-[#E5E3E0];
}

body.sun {
  @apply text-white;
}

.cutout-title {
  position: relative;
  padding-top: 2rem;
}

.cutout-title::before {
  content: attr(data-title);
  position: absolute;
  top: -0.9rem;
  left: 1rem;
  background: #1a1a1a;
  padding: 0 0.5rem;
  z-index: 10;
}

.cutout-title::after {
  content: attr(data-right-title);
  position: absolute;
  top: -0.9rem;
  right: 1rem;
  background: #1a1a1a;
  padding: 0 0.5rem;
  z-index: 10;
}

.border-box {
  border: 2px solid #414649;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem;
  position: relative;
  transition: border-color 0.5s ease;
}

body.moon .border-box {
  border-color: #414649;
}

body.sun .border-box {
  border-color: lightgray;
}

@keyframes sparkle {
  0% {
    border-color: theme("colors.pink");
  }
  50% {
    border-color: lightgray;
  }
  100% {
    border-color: theme("colors.pink");
  }
}

.border-box-glow {
  border: 2px solid lightgray;
  padding: 1rem;
  margin: 1rem;
  position: relative;
  animation: sparkle 3s linear infinite;
}

::selection {
  background: #a17296;
}

.pixelated {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -webkit-optimize-contrast; /* Safari */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: pixelated; /* Chrome and Edge */
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}
