---
import BaseLayout from "../layouts/BaseLayout.astro";

import Music from "@components/Music.astro";
import About from "@components/About.astro";
import Projects from "@components/Projects.astro";
import Blog from "@components/Blog.astro";
import Work from "../components/Work.astro";
import Links from "../components/Links.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>gursh</title>
  </head>
  <body>
    <BaseLayout>
      <div
        class="mx-auto flex max-w-7xl flex-col justify-center px-2 pt-4 sm:pt-0 lg:flex-row lg:px-0"
      >
        <div class="w-full lg:w-2/3">
          <About />
          <Work />
          <Projects />
        </div>
        <div class="w-full lg:w-1/3">
          <Links />
          <Music />
        </div>
      </div>
    </BaseLayout>
  </body>
</html>
