---
import Age from "./Age.astro";
---

<div class="border-box cutout-title" data-title="ðŸŒ about">
  <div class="content">
    <p>hi i'm gurshan</p>

    <ul>Â» i'm <Age /> years old</ul>

    <ul>
      Â» i'm a software engineering student at <a
        class="text-pink hover:underline"
        href="https://www.sjsu.edu/"
        target="_blank">sjsu</a
      >
    </ul>

    <ul>
      Â» i mainly work in <a
        class="text-pink hover:underline"
        href="https://www.typescriptlang.org/"
        target="_blank">typescript,</a
      >
      <a
        class="text-pink hover:underline"
        href="https://www.go.dev/"
        target="_blank">nextjs,</a
      >
      and
      <a
        class="text-pink hover:underline"
        href="https://kit.svelte.dev/"
        target="_blank">sveltekit</a
      >
    </ul>

    <ul>Â» i'm also a youtube editor for a few channels</ul>

    <ul>please contact me for my full resume if you're interested :)</ul>
  </div>
</div>
