---
import LightSwitch from './Lightswitch.svelte';
---

<div class="flex justify-between items-center">
  <div class="flex items-center space-x-1">
    <a href="/" class="block text-2xl pl-10 z-10">gursh</a>
    <LightSwitch client:load />
  </div>
</div>