---
export interface Props {
  nekoType?: string;
}

const { nekoType = "white" } = Astro.props;
---

<script define:vars={{ nekoType }}>
  window.NekoType = nekoType;
</script>
<h1 id="nl">
  <script is:inline src="/Neko.js"></script>
</h1>
