---
import "@fontsource/jetbrains-mono";
import "@fontsource/geist-mono";
import Neko from "../components/Neko.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
import Grain from "../components/Grain.svelte";
import { GET } from "../pages/api/github";
import Vignette from "../components/Vignette.astro";
import Sparkles from "../components/Sparkles.astro";
import SpeedInsights from "@vercel/speed-insights/astro";

let lastUpdated;

try {
  let response = await GET(Astro);
  const data = await response.json();
  lastUpdated = data.lastUpdated;
} catch (error) {
  console.error(error);
  lastUpdated = "Error fetching update time";
}
---

<SpeedInsights />
<div class="fixed inset-0 z-[-10]">
  <Sparkles />
  <Vignette />
  <Grain client:load />
</div>
<Neko nekoType="rose" />
<div class="relative z-10 text-lg">
  <Header lastUpdated={lastUpdated} />
  <slot />
</div>
