---
const { frontmatter } = Astro.props;
---

<html>
  <head>
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <h1>{frontmatter.title}</h1>
    <p>{new Date(frontmatter.date).toLocaleDateString()}</p>
    <slot />
  </body>
</html>
